.body{

    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    font-family: sans-serif;
    font-size: 1.3rem;
}


.menu-container {
    position: relative;
    display: inline-block;
    z-index: 100;
    position: fixed;
}

/* Icono del menú */
.menu-icon {
    width: 60px;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 0.4rem;
    position: fixed;
}

/* Opciones del menú */
.menu-options {
    position: fixed;
    display: none;
    position: absolute;
    top: 20px; /* Ajusta la distancia desde el icono */
    left: 50px;
    background-color: #420063;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    z-index: 9999; /* Para que esté por encima de todo */
}

/* Estilos de los enlaces dentro del menú */
.menu-options li {
    text-align: left;
   
}

.menu-options a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
   
}

.menu-options a:hover {
    background-color: #660099;
 }

/* Mostrar menú al pasar el mouse */
.menu-container:hover .menu-options {
    display: block;
    
}
.parent {
    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 11; 
    background-color: #7c1656;
    border-radius: 10px;
    
    height: 5rem;
    }
    .div2 { 
    background-color: #dbc6c7;
   height: 26rem;
   position: absolute;

   margin-top: 6rem;
   margin-left: 5rem;
   margin-right: 5rem;
   width: 82.82%;
   height: 95%;
   padding: 30px;
   padding-top: 1px;
   border-radius: 10px;
   font-family: sans-serif;
   font-size: 1.3rem;
  display: flex;
  padding-left: 5px;
  padding-right: 60px;
}

.left, .right {
    width: 52%;
    height: 106%;
}

.left {
    border-right: 4px solid #210619; 
   border-radius: 2px;
  
}



.titulo{
       
       
    position:absolute;
    margin-top: 0.5rem;
   margin-left: 22rem;
   width: 45%;
   
}

.video2{
    margin-left: 1rem;
    border-radius: 10px;
    border-style: solid;
    border-color: #210619;
    border-width: 5px;
}

.video1{
    border-radius: 10px;
    border-style: solid;
    border-color: #210619;
    border-width: 5px;
    margin-right: 2rem;

}

.texto2{
    margin-left: 0.5rem;
}

.div3{
    background-color: #dbc6c7;
    border-radius: 10px;
    margin-left: 10rem;
    position:absolute;
    margin-top: 50rem;
    margin-left: 23rem;
    padding: 30px;
    height: 95%;
}

.activi2{
    margin-left: 1.5rem;
    border-radius: 10px;
    border-style: solid;
    border-color: #210619;
    border-width: 10px;
}

.activi{
   margin-right: 40rem;
    border-radius: 10px;
    border-style: solid;
    border-color: #210619;
    border-width: 10px;
  
}

.activi3{
 
    border-radius: 10px;
    border-style: solid;
    border-color: #210619;
    border-width: 10px;
}

.footer {
    background-color: #7c1656; /* Color de fondo */
    color: #dcc7c8; /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 15px 0; /* Espaciado arriba y abajo */
    position: relative; /* NO se queda fijo, aparece al final */
    width: 100%; /* Ocupa todo el ancho */
    margin-top: 70rem; /* Espaciado respecto al contenido */
}
.steam{
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
   
}

.face{
    width: 2.8rem;
    height: 2.8rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem; 
}
.insta{
    width: 2.8rem;
    height: 2.8rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem; 
}



.felx{
    display: flex;
}
